body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html {
  height: 100%;
}

.navbar {
  padding: 0 15px !important;
}

.left-sidebar {
  position: fixed;
  left: 0;
  box-shadow: 0 -5px 20px 5px inset rgba(0, 0, 0, 0.5);
  width: 200px;
  top: 60px;
  max-height: 100vh;
  min-height: 100vh;
  background: #343a40;
}
.left-sidebar li {
  margin-bottom: 5px;
}
.left-sidebar li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.left-sidebar li a:hover {
  background: #ed8a22;
  color: #000;
  position: relative;
}
.left-sidebar li a:hover::after {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ffffff;
  border-width: 16px;
  margin-top: -16px;
}
.left-sidebar li a.active {
  background: #ed8a22;
  color: #000;
  position: relative;
}
.left-sidebar li a.active::after {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ffffff;
  border-width: 16px;
  margin-top: -16px;
}
.left-sidebar li a i {
  margin-right: 5px;
  min-width: 18px;
}

.breadcrumb li {
  color: #504c4c;
}
.breadcrumb li a {
  color: #197eec;
}

.navbar {
  padding: 0 15px;
  box-shadow: 0 -5px 10px 7px rgba(0, 0, 0, 0.5);
}

.content-block {
  margin-left: 200px;
  padding-top: 56px;
}

@media (max-width: 991.85px) {
  .content-block {
    margin-left: 0;
  }

  .left-sidebar {
    width: 100%;
    z-index: 9;
  }
}
@media screen and (max-width: 640px) {
  table.customDataTable caption {
    background-image: none;
  }

  table.customDataTable thead {
    display: none;
  }

  table.customDataTable tbody td {
    display: block;
    padding: 0.6rem;
    box-sizing: border-box;
  }

  table.customDataTable tbody tr td:first-child {
    background: #666;
    color: #fff;
  }

  table.customDataTable tbody tr td:first-child a {
    color: #fff;
  }

  table.customDataTable tbody tr td:first-child:before {
    color: #e1b547;
  }

  table.customDataTable tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 10rem;
  }

  table.customDataTable tr th:last-child, table.customDataTable tr td:last-child {
    max-width: 100% !important;
    min-width: 100px !important;
    width: 100% !important;
  }
}
label.required:after {
  content: "*";
  color: #dc3545;
  font-size: 16px;
  position: relative;
  top: -2px;
  left: 3px;
}

.form-control.error {
  border-color: #dc3545;
}

label.error {
  color: #dc3545;
  margin: 0;
}

label.error.valid {
  display: none !important;
}

/*# sourceMappingURL=custom.css.map */
