body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html {
    height: 100%;
}
.navbar{
    padding: 0 15px !important;
}

.left-sidebar {
    position: fixed;
    left: 0;
    box-shadow: 0 -5px 20px 5px inset rgba(0,0,0, .5);
    width: 200px;
    top: 60px;
    height: auto !important;
    background: #343a40;
    .sidebar-custom-scroll{
        max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    overflow: auto;
    }
    li {
        margin-bottom: 5px;
        a {
            padding: 10px 15px !important;
            display: block;
            text-decoration: none;
            color: #fff;
            position: relative;
            &:hover {
                background: #ed8a22;
                color: #000;
                position: relative;
                &::after {
                    right: 0;
                    top: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136, 183, 213, 0);
                    border-right-color: #ffffff;
                    border-width: 16px;
                    margin-top: -16px;
                }
            }
            &.active {
                background: #ed8a22;
                color: #000;
                position: relative;
                &::after {
                    right: 0;
                    top: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(136, 183, 213, 0);
                    border-right-color: #ffffff;
                    border-width: 16px;
                    margin-top: -16px;
                }
            }
            i{
                margin-right: 5px;
                min-width: 18px;
                &.down-arrow{
                    margin: 0;
                    min-width: auto;
                }
            }
        }
        .nav-dropdown-items{
            display: none;
            padding: 0 0 0 0px;
            list-style: none;
            li{
                a{
                    padding: 5px 20px !important;
                    display: block;
                    &:hover{
                        background: #ffc88e;
                    }
                }
            }
        }
        &.open{
            .fa-angle-down{
                transform: rotate(-180deg);
            }
        }
        &.open .nav-dropdown-items{
            display: block;
           
        }
        
    }
}
.breadcrumb {
    li{
        color: #504c4c;
        a{
            color: #197eec;
        }
    }
}
.navbar {
    padding: 0 15px;
    box-shadow: 0 -5px 10px 7px rgba(0,0,0, .5);
}
.page-title{
    padding: 10px 0;
    border-bottom:1px solid #ddd; 
    margin-bottom: 25px;
    position: relative;
    h2{
        font-size: 25px;
        color: #333;
        margin: 0;
    }
}
.dataTables_length{
    padding-left: 50px;
}
.btn-multi-delete{
    position: absolute;
    left: 15px;
    bottom: -60px;
    z-index: 9;
}
.filter-delete{
    position: relative;
    .btn-multi-delete {
        position: absolute;
        left: 15px;
        bottom: -42px;
        z-index: 9;
      }
  }
   
.content-block {
    margin-left: 200px;
    padding-top: 60px;
}
.upload-img{
    width: 100%;
    position: relative;
    input[type=file]{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        cursor: pointer;
        height: 100%;
    }
    label{
        cursor: pointer;
    }
}
.user-img-block{
    display: inline-block;
    position: relative;
    height:150px;
    width:150px;
    img{
        max-height: 100%;
        max-width: 100%;
    }
    .btn-image-remove{
        background: #ff8585;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        border: 2px solid #fff;
        position: absolute;
        right: -10px;
        top: -9px;
        text-decoration: none;
    }
}

@media(max-width:991.85px) {
    .content-block {
        margin-left: 0;
    }
    .left-sidebar {
        width: 100%;
        z-index: 9999;
    }
}


@media screen and (max-width: 640px) {
    table.customDataTable caption {
        background-image: none;
    }

    table.customDataTable thead {
        display: none;
    }

    table.customDataTable tbody td {
        display: block;
        padding: .6rem;
        box-sizing: border-box;
    }

    table.customDataTable tbody tr td:first-child {
        background: #666;
        color: #fff;
    }

        table.customDataTable tbody tr td:first-child a {
            color: #fff;
        }

        table.customDataTable tbody tr td:first-child:before {
            color: rgb(225,181,71);
        }

    table.customDataTable tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 10rem;
    }

    table.customDataTable tr th:last-child, table.customDataTable tr td:last-child {
        max-width: 100% !important;
        min-width: 100px !important;
        width: 100% !important;
    }
}
label.required:after {
    content: "*";
    color: #dc3545;
    font-size: 16px;
    position: relative;
    top: -2px;
    left: 3px;
}
.form-control.error{
    border-color:#dc3545;
}
label.error{
    color: #dc3545;
    margin: 0;
}
label.error.valid{
    display: none !important;
}
select.custom-select{
background-image: none;
}